html,body,.container
{ 
  height: 100%; margin: 0; padding: 0; position: relative;
}


* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { 
  background:#f7f7f7;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
        min-height: 100vh;
        flex-direction: column;
}

.site-content {
    flex: 1;
  }

.main-content {
  flex: 1;
}


.menu,
a { 
  font-family: 'Andada Pro', serif;
  font-weight: 100;
  font-size: 18px;
  color: black;
  text-decoration: none;
}

header 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;

}


.menu 
{
list-style: none;
}

.menu li {
  display: inline-block;
  padding: 0 20px;
}

.menu li a {
  transition: all 0.3s ease;

}

.menu a:hover {
  font-family: 'Andada Pro', serif;
  font-style: italic;
  text-decoration: underline;
  color:black;
}



.profilecontact
{
  font-family: 'Andada Pro', serif;
  font-style: normal;
  line-height: 20px;
    font-size: 10px;
    color: black;
}



.textino {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 50px; 
    text-align: center;
    font-family: 'Andada Pro', serif;
    font-weight: 100;
    font-size: 19px;
    line-height: 23px;
    color: black;
    text-decoration: none;
  }

  @media (max-width: 1000px) {
      .textino {
          margin-left: 30px;
          margin-right: 30px;
      }
    }



a:link, a:visited {
  font-family: 'Andada Pro', serif;
  font-style: normal;
  text-decoration: none;
  line-height: 30px;
  color: black;
  background-color: transparent;
}

a:hover, a:active {
  font-family: 'Andada Pro', serif;
  font-style: italic;
  line-height: 30px;
  text-decoration: underline;
  color: black;
}



  /* spazio tra frasi*/
  .spacer {
    height:20px;
    }


.site-footer {
    bottom: 0;
    margin-top: 280px;
    position: bottom;
    left: 0;
    width:100%;
    padding:10px;
    color:black;
    text-align:right;
    font-family: 'Andada Pro', serif;
    font-style: normal;
    font-size: 12px;

  }

  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }